---
import lore from "../../assets/img/profesionales/lore.webp";
import ivo from "../../assets/img/profesionales/ivo.webp";
import pablo from "../../assets/img/profesionales/pablo.webp";
import carlos from "../../assets/img/profesionales/carlos.webp";
import juan from "../../assets/img/profesionales/juan.webp";
import kary from "../../assets/img/profesionales/kary.webp";
---

<section id="nosotros" class="about-container">
  <div class="about-content">
    <h2>Sobre Nosotros</h2>
    <p>
      Ambu Virtual fue creado por el Dr. Carlos Robles Gorriti, un psiquiatra
      con una gran idea y la voluntad de ayudar a los adictos que tenían
      dificultades para acceder a profesionales debido a la distancia. Junto a
      un grupo de profesionales, fundó Ambu Virtual para brindar apoyo y
      tratamiento accesible.
    </p>
  </div>
  <div class="professionals">
    <div class="professional-card">
      <img src={carlos.src} alt="Carlos Robles Gorriti" />
      <h3>Carlos Robles Gorriti</h3>
      <p>
        Carlos Robles Gorriti, médico argentino de 67 años, es especialista en
        pediatría y psiquiatría. Graduado en la UBA en 1984, trabajó en
        hospitales como el Italiano y el Francés, además del Universitario
        Austral y Fleni. Fue docente en la Facultad de Medicina de la UBA,
        desempeñándose como director de la carrera de médicos especialistas en
        psiquiatría infanto-juvenil. Trabajó en adicciones en comunidades
        terapéuticas y en la asistencia primaria en la Región Sanitaria VII de
        Buenos Aires, así como en el Centro de dia del Hogar de Cristo.
      </p>
    </div>
    <div class="professional-card">
      <img src={ivo.src} alt="Ivo Cutzarida" />
      <h3>Ivo Cutzarida</h3>
      <p>
        Ivo Cutzarida es un Coach y Consejero Psicológico especializado en el
        tratamiento de las adicciones. Su rol consiste en ofrecer apoyo integral
        a las personas que luchan contra la adicción, centrándose en su
        recuperación física, emocional y espiritual. Proporciona herramientas
        cognitivas y emocionales para ayudar a los pacientes a transformar su
        percepción del mundo, mejorar su autoestima, desarrollar habilidades de
        comunicación y encontrar un sentido de plenitud y satisfacción en la
        vida.
      </p>
    </div>
    <div class="professional-card">
      <img src={lore.src} alt="Lorena Mabel Apella" />
      <h3>Lorena Mabel Apella</h3>
      <p>
        Experiencia en C.P.A: Trabajo de prevención y asistencia en adicciones.
        Charlas preventivas en escuelas con alumnos y docentes. Capacitaciones
        docentes. Experiencia en comunidad terapéutica. Coordinación de grupos,
        abordajes individuales. Trabajo con grupos de familia en Psicoeducación.
      </p>
    </div>
    <!-- <div class="professional-card">
      <img src={pablo.src} alt="Pablo Antonio Alonso" />
      <h3>Pablo Antonio Alonso</h3>
      <p>
        Pablo Antonio Alonso, Operador Socio terapéutico y sobre todo un
        compañero adicto en recuperación. Después de su última tocada de fondo,
        donde tuvo que hacerse más fuerte que nunca,decidió llevar su vida hacia
        la ayuda de sus pares, compañeros adictos pasando el mensaje. Desde
        entonces, surgió la idea de armar este dispositivo virtual para ayudar a
        las personas que deseen llevar su recuperación más allá. Coordina
        grupos, gestiona los encuentros presenciales y los ingresos al virtual.
      </p>
    </div> -->
    <div class="professional-card">
      <img src={juan.src} alt="Juan Cesari" />
      <h3>Juan Cesari</h3>
      <p>
        Juan Cesari, adicto en recuperación con varios años limpio, es una parte
        invaluable de nuestro equipo terapéutico en el ambulatorio. Su
        experiencia personal en la recuperación le permite ofrecer ayuda y
        colaborar en labores especializadas. Destaca por su gran disciplina y
        compromiso en la ayuda a sus pares, generando una conexión única con los
        pacientes.
      </p>
    </div>
    <div class="professional-card">
      <img src={kary.src} alt="Karina Carreras" />
      <h3>Karina Carreras</h3>
      <p>
        Karina Carrera es Operador Socioterapéutico en Adicciones y
        Coordinadora de Grupo de Familias en Fundación Renacer desde marzo de
        2023. También ha sido Tallerista Espiritual en Asoc. Civil Desir Salud
        desde septiembre de 2018. Actualmente, cursa el primer año de la
        Tecnicatura en Minoridad, Adolescencia y Familia en la Escuela Superior
        de Psicología Social. Con experiencia en acompañamiento terapéutico y
        especialización en salud mental y adicciones, se destaca por su
        compromiso con el bienestar emocional y la recuperación de las personas
      </p>
    </div>
  </div>
</section>

<style>
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
    color: #333;
  }

  .about-content {
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
  }

  .about-content h2 {
    color: #336b2a;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .about-content p {
    font-size: 16px;
    line-height: 1.5;
  }

  .professionals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .professional-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
  }

  .professional-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .professional-card h3 {
    font-size: 20px;
    color: #254621;
    margin-bottom: 10px;
  }

  .professional-card p {
    font-size: 14px;
    color: #666;
  }

  @media (max-width: 768px) {
    .about-content h2 {
      font-size: 28px;
    }

    .about-content p {
      font-size: 14px;
    }

    .professional-card {
      width: 100%;
    }

    .professional-card h3 {
      font-size: 18px;
    }

    .professional-card p {
      font-size: 14px;
    }
  }
</style>
